.informationContainer {
    display:flex;
    border-radius:var(--round-border-radius);
    background-color: var(--global-secondary-color);
    width:50%;
    margin-top:3%;
    margin-left:5%;
    box-shadow: var(--block-shadow);
}

.informationText {
    width:80%;
    height:50%;
    padding: 15px;
    font-size: 16px;
    color: var(--secondary-text-color);
}