.contactContainer {
  display: grid;
  height: 40pc;
  grid-template-columns: repeat(auto-fit,  25%) ;
  align-items: center;
}

.contactHeaderBlock {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:var(--round-border-radius);
    background-color: var(--global-primary-color);
    height:50%;
    width:100%;
    margin-top:10%;
    margin-left:25%;
    box-shadow: var(--block-shadow);
    z-index:2;
}

.contactHeaderText{
    display:flex;
    font-size:larger;
    color:var(--main-text-color);
}

.linkedInLink{
    color:inherit;
    text-decoration: underline;
}

.contactInfoBlock{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-top:15%;
    margin-left:10%;
    width:200%;
    height:100%;
    border-radius:var(--round-border-radius);
    box-shadow: var(--block-shadow);
    background-color:antiquewhite;
    text-align:center;
    z-index:1;
}

.contactInfoText{
    width:80%;
    padding-left:5%;
    font-size:20px;
    color:var(--secondary-text-color);
}